enable-jmx-monitoring={{ enable-jmx-monitoring }}
rcon.port={{ rcon.port }}
gamemode={{ gamemode }}
enable-command-block={{ enable-command-block }}
enable-query={{ enable-query }}
level-name={{ level-name }}
motd={{ motd }}
query.port={{ minecraft_query_port }}
pvp={{ pvp }}
difficulty={{ difficulty }}
network-compression-threshold={{ network-compression-threshold }}
require-resource-pack={{ require-resource-pack }}
max-tick-time={{ max-tick-time }}
use-native-transport={{ use-native-transport }}
max-players={{ max-players }}
online-mode={{ online-mode }}
enable-status={{ enable-status }}
allow-flight={{ allow-flight }}
broadcast-rcon-to-ops={{ broadcast-rcon-to-ops }}
view-distance={{ view-distance }}
server-ip={{ server-ip }}
resource-pack-prompt={{ resource-pack-prompt }}
allow-nether={{ allow-nether }}
server-port={{ minecraft_server_port }}
enable-rcon={{ enable-rcon }}
sync-chunk-writes={{ sync-chunk-writes }}
op-permission-level={{ op-permission-level }}
prevent-proxy-connections={{ prevent-proxy-connections }}
hide-online-players={{ hide-online-players }}
resource-pack={{ resource-pack }}
entity-broadcast-range-percentage={{ entity-broadcast-range-percentage }}
simulation-distance={{ simulation-distance }}
rcon.password={{ rcon.password }}
player-idle-timeout={{ player-idle-timeout }}
force-gamemode={{ force-gamemode }}
rate-limit={{ rate-limit }}
hardcore={{ hardcore }}
white-list={{ white-list }}
broadcast-console-to-ops={{ broadcast-console-to-ops }}
spawn-npcs={{ spawn-npcs }}
spawn-animals={{ spawn-animals }}
function-permission-level={{ function-permission-level }}
text-filtering-config={{ text-filtering-config }}
spawn-monsters={{ spawn-monsters }}
enforce-whitelist={{ enforce-whitelist }}
resource-pack-sha1={{ resource-pack-sha1 }}
spawn-protection={{ spawn-protection }}
max-world-size={{ max-world-size }}
